.u-design-import-demo-page-headers {
	background-color: #00a0d2;
	color: #ffffff;
	margin-top: 20px;
	margin-left: -2px;
	padding: 11px 8px;
}
.admin-color-fresh .u-design-import-demo-page-headers {
	background-color: #00a0d2;
}
.admin-color-light .u-design-import-demo-page-headers {
	background-color: #04a4cc;
}
.admin-color-blue .u-design-import-demo-page-headers {
	background-color: #e1a948;
}
.admin-color-coffee .u-design-import-demo-page-headers {
	background-color: #c7a589;
}
.admin-color-ectoplasm .u-design-import-demo-page-headers {
	background-color: #a3b745;
}
.admin-color-midnight .u-design-import-demo-page-headers {
	background-color: #e14d43;
}
.admin-color-ocean .u-design-import-demo-page-headers {
	background-color: #9ebaa0;
}
.admin-color-sunrise .u-design-import-demo-page-headers {
	background-color: #dd823b;
}

.udesign-import-demo-wizard {
	margin: 20px 0 40px;
}

.udesign-import-demo-wizard-description,
.udesign-import-demo-wizard-warning {
	border: 1px solid #e5e5e5;
	margin: 1em 0 0;
	padding: 16px 32px 20px;
	background-color: #ffffff;
}

.udesign-import-demo-wizard-warning {
	border-left: 4px solid #ffb900;
}

.udesign-import-demo-wizard-link {
	margin: 17px 0 15px;
}
